 <mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <button mat-button [matMenuTrigger] = "menu">Menu</button>
    <mat-menu #menu ="matMenu">
      <button mat-menu-item>Administrator</button>
      <button mat-menu-item>Teacher</button>
      <button mat-menu-item>Student</button>
      <button mat-menu-item [matMenuTrigger] = "administrator">Administrator</button>
      <button mat-menu-item [matMenuTrigger] = "teacher">Teacher</button>
      <button mat-menu-item [matMenuTrigger] = "student">Student</button> 
     </mat-menu> 

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active">List</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list> 
  </mat-sidenav>  -->

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> Learning Through Activity Management System </span>
     
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()"> menu </mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/administrator'"> Administrator </a>
          <a mat-button [routerLink]="'/teacher'"> Teacher </a>
          <a mat-button [routerLink]="'/student'"> Student </a>
          
        </div>
      
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
